<%- include('./partials/allLinks.ejs')%> <%- include('./partials/header.ejs')%>
<main>
  <section class="flex-row hero">
    <h1>
      Now monitor your expenses
      <br />
      from today
    </h1>
    <figure>
      <img src="/images/herobannar.png" alt="monitor your expenses" />
    </figure>
  </section>
</main>
