<div class="datewisecontianer">
  <form action="/dashboard" method="GET">
    <legend>
      <h2>Get expenses by the date</h2>
    </legend>
    <label for="start_date">start date</label>
    <input type="date" name="start_date" id="start_date" />
    <label for="end_date">end date</label>
    <input type="date" name="end_date" id="end_date" />
    <input type="submit" class="submit" />
  </form>
</div>
